<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hiiii</title>
</head>
<body>
    <p> hey man...new product,<%= @product_list.name%> added in the list </p>
    
    <table>
    	<thead><h5>PRODUCTS LIST</h5></thead>
    	<tbody>
				<tr>
						<th>Name</th>
						<th>Price</th>
				</tr> 
				<% @product_lists.each do |product|%>
						<tr>
						<td><%= product.name %></td>
						<td><%= product.price %></td>
						</tr><br>                      
				<% end %>
    </tbody>
    </table>  
</body>
</html>