<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hiiii</title>
</head>
<body>
    <p> hey man...new product,<%= @product_list.name%> updated,price changed from <%= @product_lists.price %> to <%= @product_list.price %> </p>
</body>
</html>